/*index.html page*/

/*------------------------------------------------Header*/

/*#019CDC light blue*/

/*#E7E7E7 faint grey*/

/*#2D59A8 sea blue*/

/*#303590 dark blue*/

.bg-white {
    background-color: #fff;
}

.no-border {
    border: 0px solid !important;
}

.logo-padding {
    padding-top: 5px;
}

.navbar-nav>li:hover {
    background-color: #E7E7E7;
    transition: all .3s ease-in-out;
}

.active-custom {
    background-color: #303590 !important;
    color: white;
}

.active-custom a {
    color: white !important;
}

/*------------------------------------------------Footer*/

footer {
    display: inline-block;
    padding: 5px;
}

.contact-info li {
    list-style: none;
    padding: 8px;
}

.contact-info li i {
    padding-right: 10px;
    font-size: 20px;
}

.schemes li {
    padding: 3px;
}

.list-inline {
    padding-left: 10px;
}

/*------------------------------------------------Section*/

section {
    padding: 0 !important;
}

.learn-more {
    background-color: #303590;
}

/*------------------------------------------------Article*/

article {
    padding: 0 !important;
}

/*------------------------------------------------Body*/

body {
    font-family: 'Roboto', sans-serif;
}

/*------------------------------------------------Containers*/

.callout-container {
    height: 100vh;
    background: url(/images/DSC_0022.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}

.benefits-container {
    background-color: #EEF4F2;
    text-align: center;
    padding: 20px;
}

.benefits-container h1,
h2 {
    padding: 20px;
    color: #415B76;
}

.benefits-container p {
    color: #415B76;
    padding-bottom: 20px;
}

.benefits-container list {
    text-align: justify;
}

.benefits-container i {
    font-size: 8em;
}

.easy-steps-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #EEF4F2;
}


.easy-steps-container i {
    padding-top: 22px;
    display: block;
    color: #415B76;
    font-size: 2em;
    text-align: center;
}

.easy-steps-container h4 p {
    display: block;
    width: 100%;
    padding: 8px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: #415B76;
}

.testimony-container {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #233656;
}

.testimony-container h4 {
    font-weight: bold;
    font-style: italic;
    color: #EEF4F2;
}

.testimony-container p {
    color: #EEF4F2;
    font-style: italic;
}

/*------------------------------------------------Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.jumbotron p {
    color: white;
}

/*------------------------------------------------ExtraStyling*/

.fa-thumbs-up {
    color: #415B76;
}

.easy-steps {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.easy-steps h4 {
    font-weight: bold;
    color: #415B76;
}

.easy-steps p {
    color: #415B76;
}

.guarantee-list {
    display: block;
    list-style: none;
}

.guarantee-list li {
    color: #415B76;
}

.guarantee-list li i {
    display: inline-block;
    font-size: 2em;
    color: #1DFD05;
}

/*landlord.html page*/

.landlord-container {
    text-align: center;
    background-color: #233656
}

.landlord-container h1 {
    font-weight: bold;
    color: #EEF4F2;
    font-style: italic;
}

.landlord-container span {
    font-size: 2em;
     color: #EEF4F2;
    font-style: italic;
}

.landlord-container p {
    padding: 10px;
    color: #EEF4F2;
}


/*------------------------------------------------Text*/
.bg-colour {
    background-color: #EEF4F2;
}
.main h4 {
    text-align: center;
}

.main h3,h4 {
    text-align: center;
    font-weight: bold;
    color:  #415B76; 
}
.main p {
    color:  #415B76;
}
/*------------------------------------------------Slides*/

slider {
    display: block;
    width: 300px;
    height: 300px;
    background-color: #1f1f1f1;
    overflow: hidden;
    position: absolute;
}

slider > * {
    position: absolute;
    display: block;
    width: 300px;
    height: 300px;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}


slide:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(/images/DSC_0001.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(2) {
    animation-delay: 2s;
    background-image: url(/images/DSC_0006.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(3) {
    animation-delay: 5s;
    background-image: url(/images/DSC_0004.jpg);
    background-size: cover;
    background-position: center;
}

slide:nth-child(4) {
    animation-delay: 8s;
    background-image: url(/images/DSC_0005.jpg);
    background-size: cover;
    background-position: center;
}

.slides:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(/images/DSC_0009.jpg);
    background-size: cover;
    background-position: center;
}

.slides:nth-child(2) {
    animation-delay: 2s;
    background-image: url(/images/DSC_0017.jpg);
    background-size: cover;
    background-position: center;
}

.slides:nth-child(3) {
    animation-delay: 5s;
    background-image: url(/images/DSC_0056.jpg);
    background-size: cover;
    background-position: center;
}

.slides:nth-child(4) {
    animation-delay: 8s;
    background-image: url(/images/DSC_0041.jpg);
    background-size: cover;
    background-position: center;
}

.slidey:nth-child(1) {
    left: 0%;
    animation-delay: -1s;
    background-image: url(/images/20150515_181633.jpg);
    background-size: cover;
    background-position: center;
}

.slidey:nth-child(2) {
    animation-delay: 2s;
    background-image: url(/images/20150911_123713.jpg);
    background-size: cover;
    background-position: center;
}

.slidey:nth-child(3) {
    animation-delay: 5s;
    background-image: url(/images/20150911_122929.jpg);
    background-size: cover;
    background-position: center;
}

.slidey:nth-child(4) {
    animation-delay: 8s;
    background-image: url(/images/20150911_122906.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes slide {
    0% {left: 100%; width: 100%;}
    5% {left: 0%;}
    25%{ left: 0%;}
    30% {left: -100%; width: 100%;}
    30.0001% {left: -100%; width: 0%;}
    100% {left: 100%; width: 0%;}
}



